.products{
	background-color:white;
	padding:150px 0 300px 0;
	height:auto;
}
.filters{
	padding:20px;
	display:flex;
	justify-content:center;
}
.filter{
	padding:10px;
	border-radius:10px;
	margin:0 10px;
}
.filterButton{
	cursor:pointer;
	padding:0 20px;
	margin:0 10px;
	border-radius:10px;
	color:white;
	background-color:black;
}
.filterButton:active{
	background-color:white;
	color:black;
}
.disabledOption{
	display:none;
}
.results{
	padding:30px 0;
	display:grid;
	grid-template-columns:repeat(3,300px);
	justify-content:center;
	gap:30px;
}